<footer class="container-fluid p-5 text-white">
  <div class="row g-5 px-5 justify-content-between">
    <div class="col-lg-4 col-sm-7 px-5">
      <img
        src="../../../../assets/images/Logo.png"
        alt="Logo"
        width="150"
        class="mb-5 rounded-2"
      />
      <div>
        <h3 class="me-4">Follow us</h3>
        <a routerLink="/" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a routerLink="/" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a routerLink="/" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a routerLink="/" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-sm-5 px-5">
      <h5>Useful links</h5>
      <ul class="list-unstyled">
        <li><a class="text-white" routerLink="/login">Login</a></li>
        <li><a class="text-white" routerLink="/register">Register</a></li>
        <li><a class="text-white" routerLink="/countries">Outgoing</a></li>
        <li><a class="text-white" routerLink="/domestic">Domestic</a></li>
        <li><a class="text-white" routerLink="/contact">Contacts us</a></li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-6 px-5">
      <h5>Contact with Us</h5>
      <ul class="list-unstyled">
        <li>
          <a class="text-white" href="tel:+61280932400"
            ><i class="bi bi-phone"></i> + 201010101010</a
          >
        </li>
        <li>
          <a class="text-white" href="mailto:Roamify@gmail.com"
            ><i class="bi bi-envelope"></i> Roamify&#64;gmail.com</a
          >
        </li>
      </ul>

      <div class="mt-4">
        <h6>Newsletter</h6>
        <form class="input-group mb-3">
          <input
            type="email"
            class="form-control"
            placeholder="Your email"
            aria-label="Enter email"
            aria-describedby="button-addon2"
          />
          <button class="btn btn-primary" type="submit" id="button-addon2">
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>

  <hr class="my-5 text-white" />
  <div class="row">
    <div class="col-lg-6 col-md-12 text-center">
      <img
        src="../../../../assets/images/cards_all.svg"
        alt="Payment methods"
        class="mt-2"
      />
    </div>
    <div class="col-lg-6 col-md-12 text-end mt-4 mt-lg-0">
      <ul class="list-unstyled text-white text-center row">
        <li class="col-5 border-end">
          <a href="#">Terms and conditions</a>
        </li>
        <li class="col-3 border-end"><a href="#">Privacy</a></li>
        <li class="col-4">© ROAMIFY 2024</li>
      </ul>
    </div>
  </div>
</footer>
