a {
  text-decoration: none !important;
  opacity: 0.8 !important;
  color: white !important;
  transition: transform 0.3s ease-in-out !important;
  display: inline-block !important;
}
a:hover {
  color: #f19283 !important;
  transform: translateX(4px) !important;
}
button {
  background-color: #fc5b62 !important;
  border: none !important;
}
p {
  opacity: 0.8 !important;
}
footer {
  background-color: #121921 !important;
}
:host {
  background-color: #121921 !important;
}
li {
  padding: 4.5px 0px !important;
}
