
/* Form container */
.form-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: hsla(0, 15%, 96%, 0.537); */
    border-radius: 8px;
    /* box-shadow: 0 0 7px rgba(0, 0, 0, 0.03); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    color: #595a5a94;
}
.container-fluid{
    background-color: #FAF5EE;

}
  .form-all-countainer{
    padding: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* Input styles */
  .form-control {
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    width: 290px;
    margin-bottom: -30px;
    padding: 0 27px;
    box-shadow: none!important;
    
  }
  textarea{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 27px;
    width: 290px;
    
    
  }
  
  
  textarea:focus-visible{
    box-shadow: none!important;
    border: 1px solid #ED8E7E;
  }

  /* Error message styles */
  .form-text {
    color: rgb(163, 4, 4);
    margin-top: 40px;
    font-size: 16px;
    margin-left: 6px ;

  }

  /* Button styles */
  .btn-submit {
    font-size: 16px;
    border: none;
    background-color: #ED8E7E;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 120px;
    height: 40px;
    border-radius: 5px;
font-size: 20px;
    margin: 20px 0 20px 66px;
}

  .btn-submit:hover {
    background-color: hsla(9, 76%, 71%, 0.882);
  }

  .row > * {
      padding: 0px;
    }

    h2{
        text-align: center;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 2.2rem;
        padding-block: 40px;
        margin-top: -40px;

    }

    label{
        margin-bottom: 8px;
        margin-left: 3px;
    }
    span{
        cursor: pointer;
        font-weight: 500;
    }
    .google{
        margin: 0 5px ;
        cursor: pointer;

}
.nsm7Bb-HzV7m-LgbsSe-MJoBVe{
  background-color: #595A5A;
}
.phoneImg{
    margin: 80px !important;

}

.logoImg {
  position: absolute;
  /* height: 110px; */
  z-index: 5;
  cursor: pointer;
  width: 200px;
  margin: 1rem;
}
.icon {
  margin-left: 7px;
  margin-top: 1px;
  color: var(--main-color-hover);
}
.icon-1{
  color: var(--main-color-hover);
  left: 0;
  transform: translate(50%, 100%);
}
.errorMSG{
  width: 25%;
}
/* make the with in small screen responsive fit the content  */
@media (max-width: 1037px) {
  .errorMSG{
    width: fit-content!important;
  }
}

.logoImgs {
  margin: -30px 0 50px -20px;
  width: 150px;
  cursor: pointer;
  left: 0;
}