<!--BOX-1-------------->
<div class="testimonial-box">
  <!--top------------------------->
  <div class="box-top">
    <!--profile----->
    <div class="profile">
      <!--img---->
      <div class="profile-img">
        <img
          src="{{review.reviewOwnerImage}}"
        />
      </div>
      <!--name-and-username-->
      <div class="name-user">
        <strong>{{ review.reviewOwnerName }}</strong>
        <span>liammendes</span>
      </div>
    </div>
    <!--reviews------>
    <div class="reviews">
      <p-rating
        class="m-0 p-0"
        [(ngModel)]="review.rate"
        [cancel]="false"
        [readonly]="true"
      ></p-rating>
    </div>
  </div>
  <!--Comments---------------------------------------->
  <div class="client-comment">
    <p>
      {{ review.review }}
    </p>
  </div>
</div>
<hr />
