@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

* {
  font-family: "cabin", sans-serif;
}

.trip-details-page main {
  margin-top: 120px;
}

section.trip-details {
  /* background; */
  height: 65vh;
  position: relative;
  background-color: grey;
}
section.trip-details::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url("https://www.ansonika.com/panagea/img/hero_in_tours_detail.jpg")
    center center/cover no-repeat;
}
section.trip-details::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.trip-details .caption {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
}
.trip-details .caption::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: gold;
  height: 4px;
  width: 20%;
}
.overview {
  font-size: 15px;
}
main h3 {
  color: var(--thm-black);
}
main ul li {
  margin-bottom: 6px;
  font-size: 17px;
}
main ul li i {
  margin-right: 10px;
}
main ul li i.bi-check-lg {
  color: var(--main-color);
  font-size: 18px;
}
main ul li i.bi-x-lg {
  font-size: 14px;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
}
.review input,
.review input:focus,
textarea:focus,
textarea {
  background-color: #f9f4ed !important;
}
.review .form-control,
textarea {
  outline: none !important;
  border: none !important;
  box-shadow: none;
  width: 100%;
}
.review .form-control:focus {
  outline: none !important;
  border: none !important;
}
.custom-rating {
  background-color: #f1c40f;
  color: #f1c40f;
}
textarea {
  height: 185px;
}
/* Booking Section */

.booking .form-control {
  outline: none !important;
  border: none !important;
  background-color: #f9f4ed;
  box-shadow: none;
  width: 100%;
}

.booking .form-control:focus {
  outline: none !important;
  border: none !important;
}

.p-rating-item:hover .p-rating-icon {
  color: #f1c40f;
}
.p-rating-icon-active {
  color: #f1c40f;
}

/* Dropdown */

.p-dropdown {
  width: 100%;
  padding: 24px;
}

.p-inputwrapper-focus {
  box-shadow: none;
  border: none;
}

.p-dropdown-items {
  padding: 0px;
}
.p-dropdown-items li {
  padding: 15px;
}
.p-dropdown-items li:hover:not(.p-highlight) {
  background-color: var(--bg-secondary-color);
  color: #66606b;
}
.p-highlight {
  background-color: var(--main-color);
  color: #fff;
}

h1.text-center {
  color: var(--main-color);
}

.p-dropdown-clear-icon {
  width: 17px;
  height: 18px;
}
.p-dropdown-clear-icon {
  right: 5rem;
  transform: translateY(-50%);
  color: var(--main-color);
}

.p-dropdown-trigger-icon {
  width: 25px;
  height: 21px;
}

.booking-btn {
  text-align: center;
  z-index: 1;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: none;
  outline: none !important;
  background-color: var(--main-color);
  color: var(--bg-primary-color);
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  transition: all 0.3s linear;
  overflow: hidden;
  letter-spacing: 0.1em;
}

.hotel-desc {
  color: #66606b;
}
.main-img {
  margin-bottom: 10px;
  transition: 0.3s all linear;
}

.main-img img {
  transition: 0.3s all linear;
}

.other-imgs img {
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .booking-btn {
    font-size: 0.7rem !important;
  }
  .main-img {
    /* height: 250px; */
    margin-bottom: 10px;
    transition: 0.3s all linear;
  }
}

@media (max-width: 768px) {
  .main-img img {
    height: auto; /*fix it */
    transition: 0.3s all linear;
  }

  h1.text-center {
    font-size: 27px;
  }
}

.booking-btn {
  padding: 10px 30px;
  width: auto;
  font-weight: 300;
}

.booking-btn::after {
  content: "";
  background-color: #313041;
  position: absolute;
  z-index: -1;
  height: 100%;
  left: 0;
  right: 0;
  top: 100%;
  transition: 0.4s all ease;
}
.booking-btn:hover::after {
  top: 0;
}

/* Test days */

.outer {
  height: 60vh;
  min-width: 20vw;
  flex: 1;
}

.progress {
  display: inline-flex;
  height: 100%;
  padding: 5vh 10%;
  background-color: var(--bg-secondary-color);
}

.progress > div {
  display: flex;
  flex-direction: column;
}

.progress > div.left {
  padding-right: 20px;
  text-align: right;
}

.progress > div.left div:last-of-type::after {
  display: none;
}

.progress > div.left div::after {
  content: "";
  background: var(--main-color);
  border-radius: 2px;
  position: absolute;
  right: -20px;
  top: 10px;
  height: 101%;
  width: 1px;
  transform: translateX(50%);
}

.progress > div.right {
  padding-left: 20px;
}

.progress > div.right div.prev::after {
  transition: none;
}

.progress > div.right div.current {
  color: var(--font-body2-color);
  font-size: 14px;
}

.progress > div.right div.current::before {
  background: var(--main-color-hover);
  padding: 10px;
  transition: all 0.2s 0.15s cubic-bezier(0.175, 0.885, 0.32, 2);
}

.progress > div.right div.current::after {
  height: 0%;
  transition: height 0.2s ease-out;
}

.progress > div.right div::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 10px;
  transform: translateX(-50%) translateY(-50%);
  transition: padding 0.2s ease;
}

.progress > div.right div::after {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  position: absolute;
  left: -20px;
  top: 10px;
  height: 101%;
  width: 2px;
  transform: translateX(-50%);
  transition: height 0.2s ease;
}

.progress > div div {
  flex: 1;
  position: relative;
  line-height: 20px;
  cursor: default;
  min-height: 30px;
  color: var(--font-header1-color);
}

.progress > div div:last-of-type {
  flex: 0;
}

.list-group-item-striped:nth-child(odd) {
  background-color: #f8f9fa;
}

.progress.dark {
  background: #333;
}

.progress.dark > div {
  color: #ccc;
}

.progress.dark > div.left div::after {
  background: rgba(255, 255, 255, 0.95);
}

.progress.dark > div.right div.prev::after {
  transition: none;
}

.progress.dark > div.right div.current {
  color: white;
  font-weight: bold;
}

.progress.dark > div.right div.current::before {
  background: white;
}

.progress.dark > div.right div.current::after {
  height: 0%;
}

.progress.dark > div.right div.current ~ div {
  color: #666;
}

.p-toast-summary,
.ng-tns-c3020094734-88 {
  padding: 10px;
}

.p-toast-detail,
.ng-tns-c3020094734-90 {
  padding: 0 10px 10px 10px;
}
.ng-trigger {
  padding-left: 10px;
}
.bg-main-50 {
  background: #fcfaf6;
}
.alert-review {
  border: 1px solid var(--main-color);
  padding: 20px;
  border-radius: 12px;
  width: 50%;
  margin: 50px auto;
}
