@if(trip){
<div class="trip-details-page">
  <main class="mb-5 mainSection">
    <div class="container-lg">
      <div class="row">
        <div class="col-md-5 col-lg-4">
          <h1 class="text-center">{{ trip.hotel.name }}</h1>

          <!-- <div class="hotel-imgs">
            <div class="row">
              <div class="col-12 ">
                <div class="main-img">
                  <img [src]="trip.imgUrl" class="w-100 rounded shadow mb-3" alt="" />
                </div>
              </div>
              <div class="col-12">
                <div class="other-imgs row">
                  @for(image of (hotelData ? hotelData.hotelImages :
                  trip.hotel.imgs) ; track (hotelData ? hotelData.hotelImages :
                  trip.hotel.imgs)){
                  <div class=" subImg col">
                    <img [src]="image" class="w-100 rounded shadow mb-3" alt="" (click)="changeHotelImg(image)" />
                  </div>
                  }
                </div>
              </div>
            </div>
          </div> -->
          <div class="hotel-imgs">
            <div class="row">
              <div class="col-12">
                <div class="main-img">
                  <img [src]="trip.imgUrl" style="height: 15rem; object-fit: cover;" class="w-100 rounded shadow mb-3"
                    alt="" />
                </div>
              </div>
              <div class="col-12">
                <div class="other-imgs row">
                  @for(image of (hotelData ? hotelData.hotelImages : trip.hotel.imgs) ; track (hotelData ?
                  hotelData.hotelImages : trip.hotel.imgs)){
                  <div class="subImg col-4 ">
                    <img style="height: 5rem; object-fit: cover;" [src]="image" class="w-100 rounded shadow mb-3" alt=""
                      (click)="changeHotelImg(image)" />
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>


          <p class="hotel-desc">
            {{ hotelData ? hotelData.hotelDescription : trip.hotel.amenetis }}
          </p>
          <div class="booking">
            <button class="booking-btn d-block mx-auto mt-3 fs-6 w-50 py-md-3 py-3 px-xl-3"
              (click)="goToBookingPage(trip._id)">
              Book Now
            </button>
            <div class="text-center mt-3"></div>
          </div>
        </div>
        <div class="col-md-7 col-lg-8 ps-4">
          <div class="overview mb-4">
            <h3 class="h2 mb-5">{{ trip.name }}</h3>
            <p class="text-secondary fs-5">
              {{ trip.description }}
            </p>
          </div>
          <div class="inc-exc mb-4">
            <h3 class="h2 mb-4">Include/Exclude</h3>
            <div class="row">
              <div class="col-lg-7">
                <ul class="list-unstyled fw-semibold text-black-50 mb-4">
                  @for (item of trip.include; track $index) {

                  <li class="d-flex">
                    <i class="bi bi-check-lg"></i> <span>{{ item }}</span>
                  </li>
                  }
                </ul>
              </div>
              <div class="col-lg-5">
                <ul class="list-unstyled fw-semibold text-black-50">
                  @for (item of trip.exclude; track $index) {

                  <li class="d-flex">
                    <i class="bi bi-x-lg"></i> <span>{{ item }}</span>
                  </li>
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <hr /> -->
      <div class="row">
        <div class="col-md-7 col-lg-8 offset-0 offset-md-4">
          @if(hotelData){

          <div class="tour-plan ">
            <h3 class="h2 mb-4">Tour plan</h3>
            <div class="container-fluid ">
              <div class="outer">
                <div class="progress">
                  <div class="left">
                    <div *ngFor="let item of trip.tourPlan; let i = index" class="fw-semibold fs-6">
                      {{ i + 1 == trip.tourPlan.length ? "End" : "" }}
                      {{ i == 0 ? "Start" : "" }}
                    </div>
                  </div>
                  <div class="right">
                    <div class="current fw-semibold" *ngFor="let item of trip.tourPlan; let i = index">
                      {{ item }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-lg-8 offset-0 offset-md-4">
          @if(!hasSubmittedReview) {

          <div class="review my-4">
            <h3 class="h2 mb-4">Write a Review</h3>
            <div class="stars">
              <div class="star-group d-flex justify-content-between align-items-center mb-3">
                <p class="fs-5 text-muted mb-1">Rating</p>
                <p-rating class="m-0 p-0" [(ngModel)]="rateValue" [iconOnStyle]="{ color: 'red !important' }"
                  [cancel]="false"></p-rating>
              </div>
            </div>
            <textarea [(ngModel)]="reviewValue" class="w-100 form-control"></textarea>
            <div class="booking">
              <button class="booking-btn d-block mx-auto mt-3 fs-6 w-50 py-md-3 py-3 px-xl-3" (click)="addReview()">
                SUBMIT REVIEW
              </button>
              <div class="text-center mt-3"></div>
            </div>
          </div>
          }@else {
          <div class="bg-main-50 alert-review text-center">
            <h3 class="color-main">Thank you for your review</h3>
          </div>
          }
          <div class="card toastContainer flex justify-content-center gap-2">
            <!-- <p-toast position="top-left" key="tl"></p-toast> -->
            <p-toast position="center" key="bc"></p-toast>
          </div>
        </div>
      </div>

      <div class="row">
        @for (review of reviews; track $index) {

        <div class="col-md-7 col-lg-8 offset-0 offset-md-4">
          <app-review-item [review]="review"></app-review-item>
        </div>
        }
      </div>
    </div>
  </main>
</div>
}@else {
<div class="mt-5 pt-5">
  <app-loading></app-loading>
</div>
}