@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

.navbar {
  height: 81px;
  padding: 20px 50px 20px !important;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.logo {
  width: 200px;
}
.bg-main {
  background-color: var(--bg-secondary-color);
}
.login-button {
  /* background-color: var(--main-color); */
  color: var(--bg-primary-color) !important;
  font-size: 14px;
  padding: 8px 5px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
  cursor: pointer;
}

.login-button i {
  font-size: 30px;
  transition: 0.3s all ease-in-out;
}

.login-button:hover i {
  color: var(--main-color-hover);
}

.userProfile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* margin-top: 10px; */
}
.userProfile-container {
  padding: 0px 10px;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  position: relative;
  font-family: "Cabin", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none solid rgb(182, 142, 94);
  text-align: left;
  line-height: 33.15px;
  vertical-align: baseline;
}
.nav-link-color {
  color: var(--grey-color) !important;
}
.nav-link {
  padding: 24px !important;
}
.nav-link:hover,
.nav-link.active {
  color: var(--main-color) !important;
  /* color: var(--dark-grey-color); */
  /* color: red; */
}

.offcanvas-body {
  display: flex;
  align-items: center;
}

.head-icons {
  margin-top: 30px;
  gap: 10px;
  margin-right: 10px;
}
@media (min-width: 991px) {
}

@media (min-width: 576px) {
  /* Add styles for small devices here */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .nav-link {
    color: var(--bg-primary-color);
  }
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before,
  .nav-link.active::before {
    visibility: visible;
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .navbar {
    padding: 0px !important;
  }

  nav a,
  nav i {
    color: black;
  }
  .offcanvas-body {
    display: block;
  }
  .logo-div {
    margin-top: 10px !important;
  }
  .logo-div img {
    width: 163px;
  }
  .head-icons {
    justify-content: center;
    gap: 80px;
  }
  .offcanvas-end {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 340px;
    height: 67%;
    margin-top: 20%;
  }
}
@media (min-width: 992px) {
  /* Add styles for large devices here */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  /* Add styles for extra large devices here */
  .nav-link {
    padding: 24px 12px !important;
  }
  .login-button {
    padding: 8px 0px;
  }
  .navbar-nav {
    padding: 0px !important;
  }
  .right-nav-bar {
    gap: 4px;
  }
  .userProfile-container {
    padding: 0px 0px;
  }
}
.favourite-active i.bi-heart {
  display: none;
}

.favourite-active i.bi-heart-fill {
  display: inline;
}
.p-overlay-badge .p-badge {
  background: red;
}
