<div class="call_section ">
  <div class="container clearfix">
    <div
      class="col-lg-6 col-md-6 float-start position-relative animated gap-2 d-flex flex-column"
    >
      <div>
        <div>
          <div>
            <span></span>
          </div>
        </div>
      </div>
      <div>
        <h6>HOLIDAY PACKAGE OFFER</h6>
      </div>
      <div>
        <h1>HOLIDAY SPECIAL 25% OFF !</h1>
      </div>
      <div>
        <h5>
          Sign up now to receive hot special offers and information about the
          best tour packages, updates, and discounts!
        </h5>
      </div>
      <div>
        <form method="post" name="New Form">
          <div class="row  btn-container " >
            <input class="btn-submit  h-100  " (click)="navigateToRegister()" type="submit" value="Register Now" >

          </div>
        </form>
      </div>

    </div>
  </div>
</div>
