<!-- <section class="carousel-section">
  <div
    class="contaier d-flex justify-content-center align-items-center flex-column fs-1 text-white"
  >
    <h1>Discover World</h1>
    <h2>Where Would You Like To Go?</h2>
  </div>
</section> -->
<section class="carousel-section">
  <div
    id="carouselExampleInterval"
    class="carousel slide vh-100"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          src="../../../../assets/images/home/carousel/slider1_1.jpg"
          class="d-block vh-100 w-100"
          alt="../../../assets/images/1.jpg"
        />
        <div class="carousel-caption fs-2 translate-middle-y d-md-block">
          <p class="next-country">what next country?</p>
          <h2 class="country-slider">Discover Night Paris</h2>
          <button class="book-carousel" (click)="goFrance()">
            Book Your Travel
          </button>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="../../../../assets/images/home/carousel/slider1_2.jpg"
          class="d-block vh-100 w-100"
          alt="../../../assets/images/1.jpg"
        />
        <div class="carousel-caption fs-2 translate-middle-y d-md-block">
          <p class="next-country">what next country?</p>
          <h2 class="country-slider">Unveil Maldives Magic</h2>
          <button class="book-carousel" (click)="goMaldives()">
            Book Your Travel
          </button>
        </div>
      </div>

      <div class="carousel-item">
        <img
          src="../../../../assets/images/home/carousel/slider1_3.jpg"
          class="d-block vh-100 w-100"
          alt="../../../assets/images/1.jpg"
        />
        <div class="carousel-caption fs-2 translate-middle-y d-md-block">
          <p class="next-country">what next country?</p>
          <h2 class="country-slider">Romantic Veitnam Travel</h2>
          <button class="book-carousel" (click)="goVietnam()">
            Book Your Travel
          </button>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <!-- <div class="carousel-caption fs-2 translate-middle-y d-none d-md-block">
      <h1>Discover World</h1>
      <h2>Where Would You Like To Go?</h2>
    </div> -->
  </div>

  <!-- <div
      class="contaier d-flex justify-content-center align-items-center flex-column fs-1 text-white"
    >
      <h1>Discover World</h1>
      <h2>Where Would You Like To Go?</h2>
    </div> -->
</section>
