@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: "Cabin", sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

img {
  object-fit: cover !important;
}

:root {
  --main-color: #ed8e7e;
  --main-color-hover: #e8604c;
  --bg-primary-color: #fff;
  --bg-secondary-color: #fcfaf6;

  --dark-grey-color: #595a5a;
  --grey-color: #5b5a65;
  --thm-black: #09090a;

  --bg-footer-color: #121921;
  --font-header1-color: #2d2d2d;
  --font-header2-color: #313041;
  --font-body-color: #979a9e;
  --font-body2-color: #595a5a;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) var(--bg-secondary-color);
}

.color-main {
  color: var(--main-color);
}
.color-title {
  color: var(--font-header1-color);
}
